
<h1> Privacy Policy </h1>
<p> <strong> Collect and Use Information </strong> </p>
<p> We do not collect any information. </p>
<p> All information that is supplied, is stored in the device only. </p>

<p> <i> <strong> Keep your information safe </strong> </i> </p>
<p> All your information is saved in your device. Anything lost can not be restored. </p>

<p> <i> <strong> Compromise of information </strong> </i> </p>
<p>Since all information is stored in the users device. We can not help with any compromised information. Please use application wisely. </p>

<p> <i> <strong> Do we disclose information to outside parties? </strong> </i> </p>
<p> We do not sell, trade or otherwise transfer to outside parties your personal information. </p>
<p> It would be impossible for us to disclose information, as everything is stored in the device. </p>
